@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import "./variables";
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lancelot', cursive;
}

main {
    min-height: 50vh;
}

h1 {
    color: $color-secundario;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5rem;
    font-weight: lighter;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
@media screen and (max-width:1230px) {
    h1 {
        letter-spacing: 1rem;
    }
}

h2 {
    background-color: $color-principal;
    letter-spacing: 1.5rem;
    padding: 1rem;
}

h3 {
    font-size: 2rem;
    letter-spacing: 1rem;
}

img {
    border-radius: .2rem;
}

button {
    background-color: map-get($boton, color-fondo);
    border: map-get($boton, borde);
    border-radius: map-get($boton, radio-borde);
    padding: map-get($boton, padding);
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: map-get($boton, transicion);
    &:hover {
        background-color: $color-principal;
        border: 1px solid transparent;
    }
}

input,
select,
textarea {
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color: $color-principal;
    text-align: left;
}

